--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.11.0+cpu
numpy==2.2.6
scipy==1.15.3
soundfile==0.13.1
onnx==1.20.1
onnxruntime==1.26.0
onnxscript==0.6.2
tensorflow==2.20.0
onnx2tf==2.6.6
ai-edge-litert==2.1.2
